.content {
  display: flex;
  flex-direction: column-reverse;
  background: transparent;
  @media (min-width: $desktop) {
    flex-direction: row;
  }
  .content-left {
    width: 100%;
    padding: 24px 24px 12px;
    display: flex;
    flex-direction: column;
    @media (min-width: $desktop) {
      flex-direction: row;
      width: 80%;
      padding: 24px;
    }
    .panel {
      background: white;
      width: 100%;
      padding: 12px 24px;
      margin-bottom: 24px;
      @media (min-width: $desktop) {
        flex-direction: row;
        margin: 12px;
      }
      .panel-header {
        padding: 12px 0;
        h4 {
          color:$almost-black;
          font-size: 20px;
        }
      }
    }

    .panel-small {
      max-width: 100%;
      @media (min-width: $desktop) {
        max-width: 33%;
      }
    }

    .panel-medium {
      max-width: 100%;
      @media (min-width: $desktop) {
        max-width: 49%;
      }
    }

    .panel-large {
      max-width: 100%;
    }
  }

  .content-right {
    width: 100%;
    padding: 36px 24px 12px;
    @media (min-width: $desktop) {
      width: 20%;
      padding: 0;
    }
    // Navs
    ul.nav-tabs {
      background: $lava-rose-to-right;

      li {
        border: none;

        .nav-link.active {
          background: $orange;
          border: none;
          border-radius: 0;
        }

        a {
          color: white;
          font-size: 16px;
          padding: 0;
          border: 0;
          margin-bottom: 1px;
          @media (min-width: $desktop) {
            font-size: 24px;
          }
          i {
            padding: 8px;
            display: flex;
            justify-content: center;
            @media (min-width: $desktop) {
              padding: 20px;
            }
          }
        }
      }
    }

    //Content of navs
    .tab-content {
      background: white;

      .tab-pane {
        .friend {
          a {
            text-decoration: none;
            padding: 12px 24px;
            display: flex;
            color: inherit;
            align-items: center;
            justify-content: space-around;

            .avatar {
              max-width: 45px;
              @media (min-width: $desktop) {
                max-width: 54px;
              }

              img {
                width: 100%;
              }
            }

            .friend-data {
              padding: 0 24px;

              * {
                margin: 0;
              }

              h4 {
                font-size: 16px;
              }

              h6 {
                padding-top: 6px;
                font-size: 13px;
              }

              p {
                text-overflow: ellipsis;
                overflow: hidden;
                width: 145px;
                white-space: nowrap;
                @media (min-width: $desktop) {
                  width: 160px;
                }
              }
            }

            i {
              @include gradient-on-text;
              font-size: 24px;
              display: none;
              @media (min-width: $desktop) {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}