
* {
  font-family: 'Lato', sans-serif;
}
.custom-page {
  display: flex;
  flex-direction: row;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
form{
  margin: 0;
  padding: 0;
}