.overlay-auth {
  position: absolute;
  background: rgba(198,255,221,0.9);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(247,121,125,0.9), rgba(251,215,134,0.9), rgba(198,255,221,0.9));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(247,121,125,0.9), rgba(251,215,134,0.9), rgba(198,255,221,0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
}
.custom-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
  height: 100%;
  form {
    padding: 50px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: $lava-rose;
    label {
      color:white;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type='submit']{
      border: 0;
      border-radius: 0;
      &:hover,&:active,&:focus {
        outline: transparent;
      }
    }
    .btn-white {
      background: white;
    }
    .form-group {
      small {
        color:white !important;
        display: flex;
        padding-top: 12px;
        justify-content: flex-end;
        a {
          color:white;
          &:hover{
            text-decoration: none;
            color:$gray;
          }
        }
      }
    }
  }
  .border-top {
    background: $lava;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 24px;
    padding-left: 12px;
    small {
      font-size: 14px;
      color: white !important;
      a {
        color:white;
        &:hover{
          text-decoration: none;
          color:$gray;
        }
      }
    }
  }
}