@import "bootstrap.min.css";
@import "bootstrap-grid.min.css";
@import "bootstrap-reboot.min.css";
@import "all.min.css";
@import "https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap";

// Define colors:

$purle: #A889E9;
$violet: #645AB3;
$lava: #C53E5B;
$rose: #F06F52;
$lava-active: #A1A29C;
$almost-black: #1c1c1c;
$gray: #adadad;
$search: #dcdcdc;
$almost-white: #f3f3f3;
$white-gray: #e8e8e8;
$yellow: #FCD685;
$orange: #FC958E;

// Devices
$phone: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

// Define gradients:

$lava-rose: linear-gradient(to top, $lava , $rose);
$lava-rose-to-right: linear-gradient(to right, $lava , $rose);
$purle-violet: linear-gradient(to right, $purle , $violet);
$yellow-orage: linear-gradient(to bottom right, $yellow,$orange);

@mixin gradient-on-text {
  background: $lava-rose-to-right;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}