.info-bar {
  background: $almost-white;
  border-top: 2px solid $white-gray;
  display: none;
  @media (min-width: $desktop) {
    display: block;
  }
  ul {
    padding: 25px 12px;
    display: flex;

    li {
      padding: 0 36px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h6 {
        font-size: 13px;
        margin: 0;
        color: $almost-black;
        font-weight: bold;
        padding-bottom: 6px;
      }

      h3 {
        @include gradient-on-text;
        margin: 0;
        font-size: 24px;
        font-weight: bold;
      }

      a {
        @include gradient-on-text;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}