.list-projects {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 21px 31px;

  .projects-hearder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    h2 {
      font-size: 25px;
    }

    p {
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 600;
      color: $almost-black;
      margin-top: 5px;
      .btn-custom {
        background: $lava;
        color:white;
        -webkit-transition: background-color 2s ease-out;
        -moz-transition: background-color 2s ease-out;
        -o-transition: background-color 2s ease-out;
        transition: background-color 2s ease-out;
        &:hover{
          background: $rose;
        }
      }
    }
  }

  .projects {
    display: flex;
    flex-wrap: wrap;

    .project {
      max-width: 360px;
      max-height: 360px;
      height: 100%;
      width: 100%;
      margin-right: 24px;
      display: flex;
      flex-direction: column;

      .project-header {
        border-bottom: 1px solid $search;
        background: white;
        z-index: 1;
        padding: 18px 20px;

        h3 {
          font-size: 18px;
          font-weight: 600;
          color: $almost-black;
        }

        p {
          color: $gray;
          font-size: 14px;
          margin: 0;
        }
      }

      .project-body {
        background: white;
        padding: 18px 20px 9px;

        .complete-status,
        .description {
          color: $gray;
          font-size: 16px;

          span {
            color: $rose;
            font-weight: 600;
            padding-right: 5px;
          }
        }

        .dates {
          display: flex;
          justify-content: space-between;

          .date {
            p {
              margin: 0;
              color: $rose;
              font-weight: 600;
            }

            span {
              color: $almost-black;
              font-weight: 600;
            }

            &:nth-child(even) {
              p {
                text-align: right;
              }
            }
          }
        }
      }

      .project-bottom {
        max-height: 240px;
        background: white;
        padding: 18px 20px 9px;
        border-top: 1px solid $search;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .team-members {
          h3 {
            color: $almost-black;
            font-size: 18px;
            font-weight: 600;
          }

          img {
            max-width: 32px;
            border-radius: 999px;
            margin-right: 6px;
          }
        }

        a {
          color: $almost-black;
          font-weight: 600;
        }
      }
    }
  }
}