.side-bar {
  position: relative;
  max-width: 45px;
  min-width: 45px;
  width: 100%;
  height: 100%;
  display: none;
  @media (min-width: $desktop) {
    max-width: 85px;
    display: block;
  }
  .side-bar-elements {
    position: fixed;
    max-width: 45px;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: $lava-rose;
    @media (min-width: $desktop) {
      max-width: 85px;
    }

    .logo {
      display: flex;
      justify-content: center;
      align-content: center;
      max-height: 45px;
      height: 100%;
      background: $almost-white;
      text-decoration: none;
      @media (min-width: $desktop) {
        max-height: 85px;
      }
      i {
        @include gradient-on-text;
        font-size: 32px;
        display: flex;
        align-items: center;
      }
    }
    .nav-elements {
      li {
        padding: 9px 0;
        @media (min-width: $desktop) {
          padding: 17.5px 0;
        }
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          color:white;
          text-decoration: none;
          i {
            font-size: 16px;
            @media (min-width: $desktop) {
              font-size: 25px;
            }
          }
          span {
            font-size: 10px;
            @media (min-width: $desktop) {
              font-size: 13px;
            }
          }
        }
        &.active {
          background: $orange;
          a{
            color:white;
          }
        }
      }
    }
  }
}