.top-bar {
  background: $almost-white;
  max-height: 45px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: $desktop) {
    max-height: 85px;
  }

  .section-ul {
    height: 100%;
    min-height: 45px;
    @media (min-width: $desktop) {
      min-height: 85px;
    }

    ul {
      display: flex;
      flex-direction: row;
      height: 100%;
      min-height: 45px;
      @media (min-width: $desktop) {
        min-height: 85px;
      }

      a {
        display: flex;
        align-items: center;
        padding: 9px 12.5px;
        border-right: 1px solid $white-gray;
        @include gradient-on-text;
        @media (min-width: $desktop) {
          padding: 17.5px 25px;
        }
        &:first-child {
          border-left: 1px solid $white-gray;
          @media (min-width: $desktop) {
            display: none;
          }
        }
        &:nth-child(2) {
          @media (min-width: $desktop) {
            border-left: 1px solid $white-gray;
          }
        }

        i {
          font-size: 16px;
          @media (min-width: $desktop) {
            font-size: 25px;
          }
        }
      }
    }
  }

  .section-search {
    padding: 9px 12.5px;
    @media (min-width: $desktop) {
      padding: 24px;
    }

    input[type='text'] {
      background: transparent;
      border: 1px solid $search;
      border-radius: 999px;
      padding: 5px 40px 5px 15px;
      min-width: 250px;
      outline: none;
      display: none;
      @media (min-width: $desktop) {
        display: inline-block;
      }
    }

    button.fa-search {
      background: transparent;
      border: none;
      outline: none;

      @include gradient-on-text;
      @media (min-width: $desktop) {
        margin-left: -35px;
      }
    }
  }

  .section-right {
    display: flex;
    .section-ul {
      a:first-child {
        display: flex;
      }
    }
    .section-user {
      .user {
        display: flex;
        max-height: 45px;
        @media (min-width: $desktop) {
          max-height: 85px;
          padding-right: 24px;
        }
        img {
          max-width: 45px;
          @media (min-width: $desktop) {
            max-width: 85px;
          }
        }

        .user-data {
          display: none;
          flex-direction: column;
          justify-content: center;
          padding-left: 10px;
          @media (min-width: $desktop) {
            display: flex;
          }
          h4 {
            font-size: 16px;
            font-weight: 600;
            @include gradient-on-text;
          }

          h6 {
            color: $violet;
            font-weight: 600;
            max-width: 160px;
            word-break: break-word;
          }
        }
      }
    }
  }

}