<div class="info-bar">
    <ul>
        <li>
            <h6>Daily Visitors</h6>
            <h3>150,000</h3>
        </li>
        <li>
            <h6>Daily Visitors</h6>
            <h3>150,000</h3>
        </li>
        <li>
            <h6>Daily Visitors</h6>
            <h3>150,000</h3>
        </li>
        <li>
            <h6>Daily Visitors</h6>
            <h3>150,000</h3>
        </li>
        <li>
            <a href="#">+ Add Stactics</a>
        </li>
    </ul>
</div>