<div class="side-bar">
    <div class="side-bar-elements">
        <a href="{{ url_for('home') }}" class="logo"><i class="fab fa-black-tie"></i></a>
        <ul class="nav-elements left-navbar">
            <li>
                <a href="{{ url_for('home') }}">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('tasks') }}">
                    <i class="fas fa-tasks"></i>
                    <span>Tasks</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('projects') }}">
                    <i class="far fa-folder-open"></i>
                    <span>Projects</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('users') }}">
                    <i class="fas fa-users"></i>
                    <span>Users</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('settings') }}">
                    <i class="fas fa-cogs"></i>
                    <span>Settings</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('quires') }}">
                    <i class="fas fa-question"></i>
                    <span>Quires</span>
                </a>
            </li>
            {% if current_user.is_authenticated %}
            <li>
                <a href="{{ url_for('logout') }}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>