<div class="section-ul">
    <ul>
        <a href="#" data-toggle="tooltip" title="Create project or task"><li><i class="fas fa-bars"></i></li></a>
        <a href="#" data-toggle="tooltip" title="Create project or task"><li><i class="fas fa-plus"></i></li></a>
        <a href="#" data-toggle="tooltip" title="Edit project or task"><li><i class="fas fa-pencil-alt"></i></li></a>
        <a href="#" data-toggle="tooltip" title="Delete project or task"><li><i class="far fa-trash-alt"></i></li></a>
    </ul>
</div>
<div class="section-search">
    <form method="post" action="#">
        <input type="text" name="search">
        <button class="fas fa-search" name="search" type="submit"></button>
    </form>
</div>
<div class="section-right">
    <div class="section-ul">
        <ul>
            <a href="#"><li><i class="far fa-bell"></i></li></a>
            <a href="#"><li><i class="far fa-comments"></i></li></a>
            <a href="#"><li><i class="far fa-user"></i></li></a>
        </ul>
    </div>
    <div class="section-user">
        <div class="user">
            {% if current_user.is_authenticated %}
            <img src="{{url_for('static', filename='profile_pics/'+ current_user.profile_pic)}}">
            {% else %}
            <img src="{{url_for('static', filename='profile_pics/default.png')}}">
            {% endif %}
            <div class="user-data">
                {% if current_user.is_authenticated %}
                <a href="{{url_for('profile', username=current_user.username)}}">
                <h4>{{ current_user.username }}</h4>
                <h6>Back-end & Front-end</h6>
                </a>
                {% else %}
                <h4>Fullname</h4>
                <h6>Position</h6>
                {% endif %}
            </div>
        </div>
    </div>
</div>