{% extends "layout.html" %}
{% block content %}
<div class="overlay-auth">
    <div class="custom-form">
        {% include 'subtemp/alert.html' %}
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                {{ form.title(class="form-control is-invalid") }}
                {% for error in form.title.errors %}
                <span> {{error}} </span>
                {% endfor %}
                {% else %}
                {{ form.title(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                {{ form.description(class="form-control is-invalid") }}
                {% for error in form.description.errors %}
                <span> {{error}} </span>
                {% endfor %}
                {% else %}
                {{ form.description(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn form-control btn-white") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}