<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
<div class="container-fluid no-padding custom-page">
    {% include "subtemp/left-navbar.html" %}
    <div class="main-page">
        <div class="top-bar">
            {% include "subtemp/topbar.html" %}
        </div>
        {% include "subtemp/infobar.html" %}
        {% block content %} {% endblock %}
    </div>
</div>
</body>
</html>
