{% extends "layout.html" %}
{% block content %}
<div class="overlay-auth">
    <div class="custom-form">
    {% include 'subtemp/alert.html' %}
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                {% for error in form.email.errors %}
                    <span> {{error}} </span>
                {% endfor %}
            {% else %}
                {{ form.email(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid") }}
                {% for error in form.password.errors %}
                    <span> {{error}} </span>
                {% endfor %}
            {% else %}
                {{ form.password(class="form-control") }}
            {% endif %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% if messages[0][0] == "danger" %}
                        <small class="text-muted">
                            Forget password? <a href="{{ url_for('reset_password')}}" class="ml-2">Reset your password</a>
                        </small>
                    {% endif%}
                {% endif%}
            {% endwith %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn form-control btn-white") }}
        </div>
    </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                You haven't already account? <a href="{{ url_for('register')}}" class="ml-2">Register</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}