{% extends "layout.html" %}
{% block content %}
<div class="overlay-auth">
    <div class="custom-form">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid") }}
                {% for error in form.password.errors %}
                <span> {{error}} </span>
                {% endfor %}
                {% else %}
                {{ form.password(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirm_pass.label(class="form-control-label") }}
                {% if form.confirm_pass.errors %}
                {{ form.confirm_pass(class="form-control is-invalid") }}
                {% for error in form.confirm_pass.errors %}
                <span> {{error}} </span>
                {% endfor %}
                {% else %}
                {{ form.confirm_pass(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn form-control btn-white") }}
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                You haven't already account? <a href="{{ url_for('register')}}" class="ml-2">Register</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}