{% extends "layout.html" %}
{% block content %}
<div class="main-page">

    <div class="list-projects">
        <div class="projects-hearder">
        <h2>Projects</h2>
        <p><a href="{{ url_for('create_project') }}" class="btn btn-custom">Create project</a></p>
        </div>
        <div class="projects">
            {% for project in projects%}
                <div class="project">
                    <div class="project-header">
                        <h3>{{ project.title }}#{{ project.id }}</h3>
                        <p>29 tasks completed</p>
                    </div>
                    <div class="project-body">
                        <p class="complete-status"><span>33%</span> completed</p>
                        <p class="description">{{ project.description }}</p>
                        <div class="dates">
                            <div class="date">
                                <p>Created</p>
                                <span>{{project.created_date.strftime('%Y-%m-%d')}}</span>
                            </div>
                            <div class="date">
                                <p>Deadline</p>
                                <span>{{project.created_date.strftime('%Y-%m-%d')}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="project-bottom">
                        <div class="team-members">
                            <h3>Team</h3>
                            {% for member in project.members %}
                            <img src="{{url_for('static', filename='profile_pics/'+ member[0])}}">
                            {% endfor%}
                        </div>
                        <a href="{{ url_for('create_project') }}">Read more...</a>
                    </div>
                </div>
            {% endfor%}
        </div>
    </div>
</div>
{% endblock %}