{% extends "layout.html" %}
{% block content %}
<div class="overlay-auth">
    <div class="custom-form">
    {% include 'subtemp/alert.html' %}
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label(class="form-control-label") }}
            {% if form.username.errors %}
                {{ form.username(class="form-control is-invalid") }}
                {% for error in form.username.errors %}
                    <span> {{error}} </span>
                {% endfor %}
            {% else %}
                    {{ form.username(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                {% for error in form.email.errors %}
                    <span> {{error}} </span>
                {% endfor %}
            {% else %}
                {{ form.email(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid") }}
                {% for error in form.password.errors %}
                    <span> {{error}} </span>
                {% endfor %}
            {% else %}
                {{ form.password(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.confirm_pass.label(class="form-control-label") }}
            {% if form.confirm_pass.errors %}
                {{ form.confirm_pass(class="form-control is-invalid") }}
                {% for error in form.confirm_pass.errors %}
                    <span> {{error}} </span>
                {% endfor %}
            {% else %}
                {{ form.confirm_pass(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn form-control btn-white") }}
        </div>
    </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a href="{{ url_for('login')}}" class="ml-2">Login</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}