@import url(bootstrap.min.css);
@import url(bootstrap-grid.min.css);
@import url(bootstrap-reboot.min.css);
@import url(all.min.css);
@import "https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap";
* {
  font-family: 'Lato', sans-serif; }

.custom-page {
  display: flex;
  flex-direction: row; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

a {
  color: black;
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

form {
  margin: 0;
  padding: 0; }

.side-bar {
  position: relative;
  max-width: 45px;
  min-width: 45px;
  width: 100%;
  height: 100%;
  display: none; }
  @media (min-width: 1200px) {
    .side-bar {
      max-width: 85px;
      display: block; } }
  .side-bar .side-bar-elements {
    position: fixed;
    max-width: 45px;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(to top, #C53E5B, #F06F52); }
    @media (min-width: 1200px) {
      .side-bar .side-bar-elements {
        max-width: 85px; } }
    .side-bar .side-bar-elements .logo {
      display: flex;
      justify-content: center;
      align-content: center;
      max-height: 45px;
      height: 100%;
      background: #f3f3f3;
      text-decoration: none; }
      @media (min-width: 1200px) {
        .side-bar .side-bar-elements .logo {
          max-height: 85px; } }
      .side-bar .side-bar-elements .logo i {
        background: linear-gradient(to right, #C53E5B, #F06F52);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-size: 32px;
        display: flex;
        align-items: center; }
    .side-bar .side-bar-elements .nav-elements li {
      padding: 9px 0; }
      @media (min-width: 1200px) {
        .side-bar .side-bar-elements .nav-elements li {
          padding: 17.5px 0; } }
      .side-bar .side-bar-elements .nav-elements li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        text-decoration: none; }
        .side-bar .side-bar-elements .nav-elements li a i {
          font-size: 16px; }
          @media (min-width: 1200px) {
            .side-bar .side-bar-elements .nav-elements li a i {
              font-size: 25px; } }
        .side-bar .side-bar-elements .nav-elements li a span {
          font-size: 10px; }
          @media (min-width: 1200px) {
            .side-bar .side-bar-elements .nav-elements li a span {
              font-size: 13px; } }
      .side-bar .side-bar-elements .nav-elements li.active {
        background: #FC958E; }
        .side-bar .side-bar-elements .nav-elements li.active a {
          color: white; }

body {
  background: #e8e8e8; }

.main-page {
  width: 100%;
  min-height: 100%; }

.top-bar {
  background: #f3f3f3;
  max-height: 45px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 1200px) {
    .top-bar {
      max-height: 85px; } }
  .top-bar .section-ul {
    height: 100%;
    min-height: 45px; }
    @media (min-width: 1200px) {
      .top-bar .section-ul {
        min-height: 85px; } }
    .top-bar .section-ul ul {
      display: flex;
      flex-direction: row;
      height: 100%;
      min-height: 45px; }
      @media (min-width: 1200px) {
        .top-bar .section-ul ul {
          min-height: 85px; } }
      .top-bar .section-ul ul a {
        display: flex;
        align-items: center;
        padding: 9px 12.5px;
        border-right: 1px solid #e8e8e8;
        background: linear-gradient(to right, #C53E5B, #F06F52);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; }
        @media (min-width: 1200px) {
          .top-bar .section-ul ul a {
            padding: 17.5px 25px; } }
        .top-bar .section-ul ul a:first-child {
          border-left: 1px solid #e8e8e8; }
          @media (min-width: 1200px) {
            .top-bar .section-ul ul a:first-child {
              display: none; } }
        @media (min-width: 1200px) {
          .top-bar .section-ul ul a:nth-child(2) {
            border-left: 1px solid #e8e8e8; } }
        .top-bar .section-ul ul a i {
          font-size: 16px; }
          @media (min-width: 1200px) {
            .top-bar .section-ul ul a i {
              font-size: 25px; } }
  .top-bar .section-search {
    padding: 9px 12.5px; }
    @media (min-width: 1200px) {
      .top-bar .section-search {
        padding: 24px; } }
    .top-bar .section-search input[type='text'] {
      background: transparent;
      border: 1px solid #dcdcdc;
      border-radius: 999px;
      padding: 5px 40px 5px 15px;
      min-width: 250px;
      outline: none;
      display: none; }
      @media (min-width: 1200px) {
        .top-bar .section-search input[type='text'] {
          display: inline-block; } }
    .top-bar .section-search button.fa-search {
      background: transparent;
      border: none;
      outline: none;
      background: linear-gradient(to right, #C53E5B, #F06F52);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text; }
      @media (min-width: 1200px) {
        .top-bar .section-search button.fa-search {
          margin-left: -35px; } }
  .top-bar .section-right {
    display: flex; }
    .top-bar .section-right .section-ul a:first-child {
      display: flex; }
    .top-bar .section-right .section-user .user {
      display: flex;
      max-height: 45px; }
      @media (min-width: 1200px) {
        .top-bar .section-right .section-user .user {
          max-height: 85px;
          padding-right: 24px; } }
      .top-bar .section-right .section-user .user img {
        max-width: 45px; }
        @media (min-width: 1200px) {
          .top-bar .section-right .section-user .user img {
            max-width: 85px; } }
      .top-bar .section-right .section-user .user .user-data {
        display: none;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px; }
        @media (min-width: 1200px) {
          .top-bar .section-right .section-user .user .user-data {
            display: flex; } }
        .top-bar .section-right .section-user .user .user-data h4 {
          font-size: 16px;
          font-weight: 600;
          background: linear-gradient(to right, #C53E5B, #F06F52);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text; }
        .top-bar .section-right .section-user .user .user-data h6 {
          color: #645AB3;
          font-weight: 600;
          max-width: 160px;
          word-break: break-word; }

.info-bar {
  background: #f3f3f3;
  border-top: 2px solid #e8e8e8;
  display: none; }
  @media (min-width: 1200px) {
    .info-bar {
      display: block; } }
  .info-bar ul {
    padding: 25px 12px;
    display: flex; }
    .info-bar ul li {
      padding: 0 36px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .info-bar ul li h6 {
        font-size: 13px;
        margin: 0;
        color: #1c1c1c;
        font-weight: bold;
        padding-bottom: 6px; }
      .info-bar ul li h3 {
        background: linear-gradient(to right, #C53E5B, #F06F52);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        margin: 0;
        font-size: 24px;
        font-weight: bold; }
      .info-bar ul li a {
        background: linear-gradient(to right, #C53E5B, #F06F52);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: bold;
        font-size: 15px; }

.content {
  display: flex;
  flex-direction: column-reverse;
  background: transparent; }
  @media (min-width: 1200px) {
    .content {
      flex-direction: row; } }
  .content .content-left {
    width: 100%;
    padding: 24px 24px 12px;
    display: flex;
    flex-direction: column; }
    @media (min-width: 1200px) {
      .content .content-left {
        flex-direction: row;
        width: 80%;
        padding: 24px; } }
    .content .content-left .panel {
      background: white;
      width: 100%;
      padding: 12px 24px;
      margin-bottom: 24px; }
      @media (min-width: 1200px) {
        .content .content-left .panel {
          flex-direction: row;
          margin: 12px; } }
      .content .content-left .panel .panel-header {
        padding: 12px 0; }
        .content .content-left .panel .panel-header h4 {
          color: #1c1c1c;
          font-size: 20px; }
    .content .content-left .panel-small {
      max-width: 100%; }
      @media (min-width: 1200px) {
        .content .content-left .panel-small {
          max-width: 33%; } }
    .content .content-left .panel-medium {
      max-width: 100%; }
      @media (min-width: 1200px) {
        .content .content-left .panel-medium {
          max-width: 49%; } }
    .content .content-left .panel-large {
      max-width: 100%; }
  .content .content-right {
    width: 100%;
    padding: 36px 24px 12px; }
    @media (min-width: 1200px) {
      .content .content-right {
        width: 20%;
        padding: 0; } }
    .content .content-right ul.nav-tabs {
      background: linear-gradient(to right, #C53E5B, #F06F52); }
      .content .content-right ul.nav-tabs li {
        border: none; }
        .content .content-right ul.nav-tabs li .nav-link.active {
          background: #FC958E;
          border: none;
          border-radius: 0; }
        .content .content-right ul.nav-tabs li a {
          color: white;
          font-size: 16px;
          padding: 0;
          border: 0;
          margin-bottom: 1px; }
          @media (min-width: 1200px) {
            .content .content-right ul.nav-tabs li a {
              font-size: 24px; } }
          .content .content-right ul.nav-tabs li a i {
            padding: 8px;
            display: flex;
            justify-content: center; }
            @media (min-width: 1200px) {
              .content .content-right ul.nav-tabs li a i {
                padding: 20px; } }
    .content .content-right .tab-content {
      background: white; }
      .content .content-right .tab-content .tab-pane .friend a {
        text-decoration: none;
        padding: 12px 24px;
        display: flex;
        color: inherit;
        align-items: center;
        justify-content: space-around; }
        .content .content-right .tab-content .tab-pane .friend a .avatar {
          max-width: 45px; }
          @media (min-width: 1200px) {
            .content .content-right .tab-content .tab-pane .friend a .avatar {
              max-width: 54px; } }
          .content .content-right .tab-content .tab-pane .friend a .avatar img {
            width: 100%; }
        .content .content-right .tab-content .tab-pane .friend a .friend-data {
          padding: 0 24px; }
          .content .content-right .tab-content .tab-pane .friend a .friend-data * {
            margin: 0; }
          .content .content-right .tab-content .tab-pane .friend a .friend-data h4 {
            font-size: 16px; }
          .content .content-right .tab-content .tab-pane .friend a .friend-data h6 {
            padding-top: 6px;
            font-size: 13px; }
          .content .content-right .tab-content .tab-pane .friend a .friend-data p {
            text-overflow: ellipsis;
            overflow: hidden;
            width: 145px;
            white-space: nowrap; }
            @media (min-width: 1200px) {
              .content .content-right .tab-content .tab-pane .friend a .friend-data p {
                width: 160px; } }
        .content .content-right .tab-content .tab-pane .friend a i {
          background: linear-gradient(to right, #C53E5B, #F06F52);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          font-size: 24px;
          display: none; }
          @media (min-width: 1200px) {
            .content .content-right .tab-content .tab-pane .friend a i {
              display: block; } }

.overlay-auth {
  position: absolute;
  background: rgba(198, 255, 221, 0.9);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(247, 121, 125, 0.9), rgba(251, 215, 134, 0.9), rgba(198, 255, 221, 0.9));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(247, 121, 125, 0.9), rgba(251, 215, 134, 0.9), rgba(198, 255, 221, 0.9));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.custom-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
  height: 100%; }
  .custom-form form {
    padding: 50px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: linear-gradient(to top, #C53E5B, #F06F52); }
    .custom-form form label {
      color: white; }
    .custom-form form input[type="text"],
    .custom-form form input[type="password"],
    .custom-form form input[type="email"],
    .custom-form form input[type='submit'] {
      border: 0;
      border-radius: 0; }
      .custom-form form input[type="text"]:hover, .custom-form form input[type="text"]:active, .custom-form form input[type="text"]:focus,
      .custom-form form input[type="password"]:hover,
      .custom-form form input[type="password"]:active,
      .custom-form form input[type="password"]:focus,
      .custom-form form input[type="email"]:hover,
      .custom-form form input[type="email"]:active,
      .custom-form form input[type="email"]:focus,
      .custom-form form input[type='submit']:hover,
      .custom-form form input[type='submit']:active,
      .custom-form form input[type='submit']:focus {
        outline: transparent; }
    .custom-form form .btn-white {
      background: white; }
    .custom-form form .form-group small {
      color: white !important;
      display: flex;
      padding-top: 12px;
      justify-content: flex-end; }
      .custom-form form .form-group small a {
        color: white; }
        .custom-form form .form-group small a:hover {
          text-decoration: none;
          color: #adadad; }
  .custom-form .border-top {
    background: #C53E5B;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 24px;
    padding-left: 12px; }
    .custom-form .border-top small {
      font-size: 14px;
      color: white !important; }
      .custom-form .border-top small a {
        color: white; }
        .custom-form .border-top small a:hover {
          text-decoration: none;
          color: #adadad; }

.list-projects {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 21px 31px; }
  .list-projects .projects-hearder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px; }
    .list-projects .projects-hearder h2 {
      font-size: 25px; }
    .list-projects .projects-hearder p {
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 600;
      color: #1c1c1c;
      margin-top: 5px; }
      .list-projects .projects-hearder p .btn-custom {
        background: #C53E5B;
        color: white;
        -webkit-transition: background-color 2s ease-out;
        -moz-transition: background-color 2s ease-out;
        -o-transition: background-color 2s ease-out;
        transition: background-color 2s ease-out; }
        .list-projects .projects-hearder p .btn-custom:hover {
          background: #F06F52; }
  .list-projects .projects {
    display: flex;
    flex-wrap: wrap; }
    .list-projects .projects .project {
      max-width: 360px;
      max-height: 360px;
      height: 100%;
      width: 100%;
      margin-right: 24px;
      display: flex;
      flex-direction: column; }
      .list-projects .projects .project .project-header {
        border-bottom: 1px solid #dcdcdc;
        background: white;
        z-index: 1;
        padding: 18px 20px; }
        .list-projects .projects .project .project-header h3 {
          font-size: 18px;
          font-weight: 600;
          color: #1c1c1c; }
        .list-projects .projects .project .project-header p {
          color: #adadad;
          font-size: 14px;
          margin: 0; }
      .list-projects .projects .project .project-body {
        background: white;
        padding: 18px 20px 9px; }
        .list-projects .projects .project .project-body .complete-status,
        .list-projects .projects .project .project-body .description {
          color: #adadad;
          font-size: 16px; }
          .list-projects .projects .project .project-body .complete-status span,
          .list-projects .projects .project .project-body .description span {
            color: #F06F52;
            font-weight: 600;
            padding-right: 5px; }
        .list-projects .projects .project .project-body .dates {
          display: flex;
          justify-content: space-between; }
          .list-projects .projects .project .project-body .dates .date p {
            margin: 0;
            color: #F06F52;
            font-weight: 600; }
          .list-projects .projects .project .project-body .dates .date span {
            color: #1c1c1c;
            font-weight: 600; }
          .list-projects .projects .project .project-body .dates .date:nth-child(even) p {
            text-align: right; }
      .list-projects .projects .project .project-bottom {
        max-height: 240px;
        background: white;
        padding: 18px 20px 9px;
        border-top: 1px solid #dcdcdc;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .list-projects .projects .project .project-bottom .team-members h3 {
          color: #1c1c1c;
          font-size: 18px;
          font-weight: 600; }
        .list-projects .projects .project .project-bottom .team-members img {
          max-width: 32px;
          border-radius: 999px;
          margin-right: 6px; }
        .list-projects .projects .project .project-bottom a {
          color: #1c1c1c;
          font-weight: 600; }

/*# sourceMappingURL=style.css.map */
